body{
	background-color: lavender;
}

h1{
	font-size: 30px;
	color: teal;
}

h2{
	font-size: 20px;
	color: mediumaquamarine;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: cadetblue;
}

h1 span{
	color: powderblue;
}